<h1>Devises Monétaires</h1>
<form *ngFor="let currency of Currencies ">
  <label for="numberToConvert">{{ currency.name}} {{ currency.currency }}</label>
  <input type="text" name="numberToConvert" id="numberToConvert" required>
    <button (click)="selectCurrency()">Select Currency to Convert</button>
  <button (click)="convertCurrency()">
    Convertir
  </button>
</form>
